* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 24px;
}

body {
    height: 100vh;
    display: flex;
}

label {
    display: block;
    font-size: 0.7rem;
}

.banner {
    width: min(650px, 40%);
    background-image: url(https://images.unsplash.com/photo-1644681950291-047f2e7410d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=712&q=80);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center
}

.form-side {
    width: calc(100% - min(650px, 40%));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding-left: 50px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}